// $fa-font-path: "~font-awesome/fonts";
// @import "~font-awesome/scss/font-awesome";

// font
@import url("https://fonts.googleapis.com/css?family=Raleway:200,100,400");

@import "config";
@import "menu";

$primary-color: #444;
$secondary-color: #eece1a;
$show-home-image: true;
$show-image: url(../img/background.jpg) no-repeat center center / cover;
$background-opacity: 0.2s;

* {
  box-sizing: border-box; // padding will not affect hight and width
}

/* Cursor */
.txt-type > .txt {
  border-right: 0.2rem solid #777;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-family: "Raleway", sans-serif;
}

// Headings

h1,
h2 {
  font-weight: 200;
  margin: 0.4rem;
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 2rem;
  color: #aaa;
}

a {
  color: #ffffff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2; // how close to you an element is
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  // height: 100%;
  min-height: calc(100vh -6px); // only affects the icon of the main class
  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      // a:hover
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
  &#home {
    overflow: hidden;
    h1 {
      // vw  vh 100
      margin-top: 20vh;
    }
  }
}
// grid template variant

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  // grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 30%;
  }
  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job1 {
    grid-area: job1;
  }
  .job2 {
    grid-area: job2;
  }
  .job3 {
    grid-area: job3;
  }
  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}
@import "mobile";
