// $fa-font-path: "~font-awesome/fonts";
// @import "~font-awesome/scss/font-awesome";

// font
@import url("https://fonts.googleapis.com/css?family=Raleway:200,100,400");

@import "config";
@import "menu";

$primary-color: #444;
$secondary-color: #eece1a;
$show-home-image: true;
$show-image: url(../img/background.jpg) no-repeat center center / cover;
$background-opacity: 0.2s;

* {
  box-sizing: border-box; // padding will not affect hight and width
}

/* Cursor */
.txt-type > .txt {
  border-right: 0.2rem solid #777;
}

body {
  @include background;
  background: $primary-color;
  color: #ffffff;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-family: "Raleway", sans-serif;
}

// Headings

h1,
h2 {
  font-weight: 200;
  margin: 0.4rem;
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 2rem;
  color: #aaa;
}

a {
  color: #ffffff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2; // how close to you an element is
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  height: 100%;

  // only affects the icon of the main class
  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      // a:hover
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
  &#home {
    overflow: hidden;
    h1 {
      // vw  vh 100
      margin-top: 20vh;
    }
  }
}
